{
  "comma-dangle": [
    "error",
    "never"
  ]
  // or
  // "comma-dangle": [
  //   "error",
  //   {
  //     "arrays": "never",
  //     "objects": "never",
  //     "imports": "never",
  //     "exports": "never",
  //     "functions": "ignore"
  //   }
  // ]
}
