* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    background: #f0f0f0;
    background-color: black;
    font-family: abel,sans-serif;
    line-height: 1.4;
    background-image: linear-gradient(to bottom right, rgba(47, 228, 189, 0.9) 10%, rgba(50, 200, 230, 0.9), rgba(15, 36, 161, 0.9));
    color: white;
    color: rgba(255, 255, 255, 1);

    /* text-shadow:0 1px 0 black; */
    text-fill-color: green;
}

html {}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.threeD {
    perspective: 400px;
}

.center_both {
    margin: auto;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.person {
    border-radius: 200px;
    position: relative;
    animation: rotate-it-x .6s 1 ease-out;
    overflow: hidden;
    box-shadow: 0 9px 40px rgba(0, 0, 0, 0.2);
    transform: translateZ(-50px);

    &::after {
        /* box-shadow:inset 0 2px 1px rgba(0,0,0,.1),inset 0 0 3px 0px rgba(0,0,0,.2); */
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        z-index: 2;
    }

    &::before {
        content: "";
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 22%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0));
        display: block;
        position: absolute;
        top: -200px;
        left: -200px;
        right: -200px;
        bottom: -200px;

        /* z-index:4; */
        animation: shiny .6s 1 linear;
        animation-fill-mode: forwards;
        border-radius: 200px;
    }
}

@keyframes shiny {
    0% {
        transform: translateX(400px) translateY(400px);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(-100px) translateY(-100px);
        opacity: 0;
    }
}

h1 {
    margin: 1em 0 .5em;
    text-align: center;
}

@keyframes in {
    0% {
        transform: scale(0.95) translateZ(-100px);
        opacity: 0.00001;
    }

    40% {
        opacity: 0.0001;
    }

    100% {
        transform: scale(1) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate-it-x {
    0% {
        transform: rotateX(30deg) translateZ(-50px);
    }

    100% {
        transform: rotateX(0deg) translateZ(-50px);
    }
}

.card {
    /* background:white; */
    animation: in .6s 1 ease-out;
    position: relative;
    max-width: 100%;
    perspective: 400px;

    /* background:rgba(255,255,255,.1); */

    border-radius: 4px;
    margin: 20px;

    /* padding:20px; */
    padding-bottom: 20px;

    /* box-shadow: 0 2px 30px rgba(0,0,0,.1); */
    transition: transform 150ms;
    perspective: 400px;
    transform-style: preserve-3d;
}

.person img {
    border-radius: 200px;

    /* border-bottom-right-radius: 0; */
    /* border-bottom-left-radius: 0; */
    display: block;
}

.card_person {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-radius: 200px;
}

.person_attributes {
    list-style: none;
    padding-left: 0;
    text-align: center;
    transform: translateZ(-10px);
    perspective: 400px;
    transform-style: preserve-3d;
}

.footer {
    display: flex;
    justify-content: flex-end;

    /* margin-top:auto; */
    width: 100%;
    padding: 1em 1em;
    align-self: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        margin: 0 0.5em;
    }
}

a {
    color: inherit;
    opacity: 0.8;
    text-decoration: none;
}

li {
    transition: transform 150ms;
    transform-style: preserve-3d;
    transform: translateZ(-5px);

    @for $n from 1 through 5 {
        &:nth-child(#{$n}) {
            transform: translateZ(-2px * $n);
        }
    }

    &:hover {
        transform: scale(1) translateZ(1px);
    }
}

a:hover {
    opacity: 1;
}